/*########~~~~call-page~~~~########*/
/*~~~~header~~~~*/



:root {
   /*colors*/
   --white: #FFFFFF;
   --gold: #F6C866;
   --bg-color: #202024;
   /*font-family*/
   --roboto: 'Roboto', sans-serif;
   --bad-script: 'Bad Script', cursive;
}



.b-call-page__header {
   text-align: center;
   font-family: var(--roboto);
   font-weight: normal;
   display: flex;
   min-width: 100vw;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.b-header__h2 {
   display: inline-block;
   font-size: 14px;
   line-height: 18px;
   font-weight: 700;
   color: #202024;
   background-color: var(--white);
   border-radius: 5px;
   margin-top: 6vh;
   padding-top: 2vh;
   width: 81vw;
   height: 15vh;
   text-align: center;
   font-family: var(--roboto);
}

.b-h2__span--call-page {
   font-weight: 400;
   text-transform: none;
   font-size: 14px;
   line-height: 18px;
   color: #202024;
   text-align: center;
   font-family: var(--roboto);
}



/*~~~~SECTION-ONE~~~~*/



.b-call-page__section-one {
   max-width: 68vw;
   margin-top: 3vh;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.b-section-one__h3 {
   display: block;
   font-weight: 100;
   font-size: 14px;
   line-height: 16px;
   color: var(--white);
   text-align: center;
   font-family: var(--roboto);
}



/*~~~~SECTION-TWO~~~~*/



.b-call-page__section-two {
   display: flex;
   margin-top: 5vh;
   margin-bottom: 3vh;
   width: 80vw;
   height: 30vh;
   align-items: center;
   justify-content: center;
   border: 1px solid var(--white);
   border-radius: 3px;
   position: relative;
   max-width: 80vw;
   flex-direction: column;
}

.b-section-two__h1 {
   display: inline-block;
   max-width: 73vw;
   font-size: 16px;
   line-height: 25px;
   text-transform: uppercase;
   font-weight: 700;
   color: var(--gold);
   text-align: center;
   font-family: var(--roboto);
}

.b-h1__span {
   text-transform: lowercase;
   font-weight: normal;
   color: var(--gold);
   font-size: 16px;
   line-height: 25px;
   text-align: center;
   font-family: var(--roboto);
}



/*~~~~SECTION-THREE~~~~*/



.b-call-page__section-three {
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 73vw;
   margin-bottom: 4vh;
   margin-top: 3vh;
}

.b-section-three__h3 {
   display: block;
   font-weight: 100;
   font-size: 14px;
   line-height: 16px;
   color: var(--white);
   text-align: center;
   font-family: var(--roboto);
}



/*~~~~SECTION-FOUR~~~~*/



.b-button--call {
   width: 238.01px;
   height: 48px;
   background: linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);
   border-radius: 50px;
   margin-bottom: 3vh;
}

.b-call-page__section-four {
   justify-content: center;
   display: flex;
   position: relative;
   max-width: 80vw;
   margin-bottom: 5vh;
   flex-direction: column;
   align-items: flex-start;
}

.b-section-four__output {
   color: var(--gold);
   text-align: center;
   font-family: var(--roboto);
   font-weight: normal;
}



/*~~~~FOOTER~~~~*/



.b-call-page__footer {
   display: flex;
   width: 92vw;
   min-height: 50px;
   margin: auto;
   margin-top: auto;
   flex-direction: column;
   justify-content: flex-end;
}

.b-footer__p {
   font-family: var(--roboto);
   font-weight: normal;
   font-size: 7px;
   line-height: 9px;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #9D9D9D;
   margin: 0;
   text-align: center;
}